#logo{
	width:	187px;
    height: 95px;
}

#navbar{
	height:110px;
}

.navbar-header{
	width:	187px;
    height: 95px;
	padding-top:0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 85px;
	font-size: 25px;
}


#panel_edicion{
	background-color:#FFFFFF;
	/*background-color:#726958*/
	margin:auto;
}

#table_acc{
	margin: auto;
}

#display_anteojos{
	background:	white;
	width:	768px;
    height: 384px;
}

