@font-face{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: normal;
    src: local("Mohave"), url('../fonts/Mohave.otf') format("truetype");
}

#logo{
	width:	187px;
    height: 95px;
}

#navbar{
	height:110px;
}

.navbar-header{
	width:	187px;
    height: 95px;
	padding-top:0px;
}


.navbar-brand,
.navbar-nav li a {
	font-family: "Mohave";
    line-height: 85px;
	font-size: 25px;
	word-spacing: 8px;
}

#hdr_container {
	line-height:50px;
	background-color:#2A2A2A;
}


#hdr_container h3{
	line-height:50px;
	font-family:"Mohave";
	text-align: center;
	font-size:	60px;
	word-spacing: 8px;
	margin-top:	7px;
	color:	white;
	text-shadow: 0px 2px 0px rgba(255,255,255,.3), 0px -2px 0px rgba(0,0,0,.7);
}

.caret-right {
	  display: inline-block;
	  width: 0;
	  height: 0;
	  margin-left: 2px;
	  vertical-align: middle;
	  border-left: 5px solid;
	  border-left-color:#FFFFFF;
	  border-bottom: 5px solid transparent;
	  border-top: 5px solid transparent;
}

#accordion h3{
	font-family:"Mohave";
	font-size: 28px;
	background-color:#2A2A2A;
	padding:15px 15px 15px 15px;
	text-shadow: 0px 2px 0px rgba(255,255,255,.3), 0px -2px 0px rgba(0,0,0,.7);
/*	-webkit-box-shadow:    0 8px 0 #000000, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #000000, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #000000, 0 15px 20px rgba(0, 0, 0, .35);*/
}

#tab { 
	   display:inline-block; 
       margin-left: 35px; 
	   margin-right: 10px;
}

#accordion h3:hover{
	 background-color: #DE1B1B;

}

#accordion h3:a{
	  background-color: blue;
}

#collapseModelo{
	/*margin: 0 0 0 4%;*/
}

#collapseTamanos{
/*	margin:0 20% 0 10%;*/
}

#panel_edicion{
	background-color:#FFFFFF;
	/*background-color:#726958*/
	margin:auto;
	font-family:"Mohave";
	font-size: 28px;
	

}

#col_display_nombre{
	background-color:#FDF3E7;
}

#display_nombre{
	margin-top:10px;
}

.btn-info{
	background-color:#F7CA93;
	border-color:#F7CA93;
	/*width:50px;*/
	margin-top:1px;
}

.btn-info:hover{
	background-color: #A6610D;
}

.btn-info:active{
	background-color: black;
}

#display_nombreElegido{
	color:red;
	display:inline;
}

.btn, .btn-primary{
	font-size: 28px;
}

.btn:active{
	position:relative;
	top:1px;
}

.center-btn{
	margin:0 0.5% 0 3.9%;
	/*width: 200px;*/
}

#btnClr{
	padding:20px 20px;
	margin-top: 5px;
}

#btn_load{
	background-color: #139675;
}

#btn_load:hover{
	background-color: #006231;
}

#btn_download{
	background-color: #f44336;
}

#btn_download:hover{
	background-color: #E52A1F;
}


#table_acc{
	margin: auto;
}


#display_anteojos{
	background:	#E8E8E8;
/*	width:	768px;
    height: 384px;*/
	
}

