/*.lenteNaranja{fill:#f7573c;
    opacity: 0.7;}
.lenteCeleste{fill:#76AADB;
        opacity: 0.7;}
.lenteNegro{fill:#000000;
    opacity: 0.7;}
.lenteRojo{fill:#FF0000;
    opacity: 0.7;}
.lenteVerde{fill:#00FF00;
opacity: 0.7;}
.lenteAzul{fill:#0000FF;
opacity: 0.7;}*/

.marcoNegro{fill:#000000;}

.patillaNegra{fill:#000000;}